extends ninetofiver/base/page.pug
- load static

block content
  div(class='card')
    div(class='card-body')
      div(class='list-group')
        a(
          class='list-group-item list-group-item-action'
          href='{% static "ninetofiver/docs/schemas/api_v2/api_v2.yaml" %}'
        ) API specification, OpenAPI v3 / YAML
        a(
          class='list-group-item list-group-item-action'
          href='{% url "api_docs_redoc" %}'
        ) API documentation, rendered with ReDoc
        a(
          class='list-group-item list-group-item-action '
          href='{% url "api_docs_swagger_ui" %}'
        ) API documentation, rendered with Swagger UI