extends ninetofiver/account/page.jade
- load crispy_forms_tags

block title
  | Deleting application: {{ application.name }}

block content_main
  p
    | Are you sure you want to delete the application 
    strong {{ application.name }}
    | ?

  form(
    action='{% url "oauth2_provider:delete" pk=application.pk %}'
    method='POST'
    role='form'
  )
    {% csrf_token %}
    {{ form | crispy }}
    div(class='btn-group')
      button(
        type='submit'
        class='btn btn-danger'
      )
        i(class='fa fa-trash')
        | Delete
      a(
        href='{% url "oauth2_provider:detail" pk=application.pk %}'
        class='btn btn-secondary'
      )
        i(class='fa fa-times')
        | Cancel
