extends ninetofiver/account/page.pug
- load i18n

block title
  | {% trans "Your applications" %}

block content_main
  if applications
    table(class='table table-hover table-bordered')
      thead
        tr
          th Name
          th Actions
      for x in applications
        tr
          td {{ x.name }}
          td
            div(class='btn-group btn-group-sm')
              a(
                href='{{ x.get_absolute_url }}'
                class='btn btn-secondary'
              )
                i(class='fa fa-eye')
                | View
              a(
                href='{% url "oauth2_provider:update" pk=x.pk %}'
                class='btn btn-secondary'
              )
                i(class='fa fa-edit')
                | Edit
              a(
                href='{% url "oauth2_provider:delete" pk=x.pk %}'
                class='btn btn-danger'
              )
                i(class='fa fa-trash')
                | Delete

  else
    p {% trans "No applications defined" %}

  a(
    class='btn btn-primary'
    href='{% url "oauth2_provider:register" %}'
  )
    i(class='fa fa-plus-circle')
    | New application
