extends ninetofiver/account/page.jade
- load crispy_forms_tags

block title
  | {{ title }}

block content_main
  form(
    action='{% url "password_change" %}'
    method='POST'
    role='form'
  )
    {% csrf_token %}
    {{ form | crispy }}
    button(
      type='submit'
      class='btn btn-primary'
    )
      i(class='fa fa-check')
      | Submit
