- load static
nav(class='navbar navbar-full navbar-expand-md navbar-light bg-light rounded')
  button(
    class='navbar-toggler'
    type='button'
    data-toggle='collapse'
    data-target='#topNavBar'
    aria-controls='topNavBar'
    aria-expanded='false'
    aria-label='Toggle navigation'
  ) &#9776;

  a(class='navbar-brand' href='{% url "home" %}')
    img(class='navbar-brand-img img-fluid' src='{% static "ninetofiver/img/logo_text.svg" %}')
    
  div(class='collapse navbar-collapse' id='topNavBar')
    ul(class='navbar-nav mr-auto')
      li(class='nav-item')
        a(class='nav-link' href='{% url "home" %}') Home
      if request.user.is_authenticated
        li(class='nav-item')
          a(class='nav-link' href='{% url "api_docs" %}') API docs

    ul(class='navbar-nav')
      if request.user.is_authenticated
        li(class='nav-item dropdown')
          a(
            class='nav-link dropdown-toggle'
            data-toggle='dropdown'
            href='#'
            role='button'
            aria-haspopup='true'
            aria-expanded='false'
          )
            i(class='fa fa-user') &nbsp;
            | {{ request.user }}
          div(class='dropdown-menu dropdown-menu-right')
            a(class='dropdown-item' href='{% url "account" %}') Your account
            div(class='dropdown-divider')
            if request.user.is_staff
              a(class='dropdown-item' href='{% url "admin:index" %}') Admin interface
              div(class='dropdown-divider')
            a(class='dropdown-item' href='{% url "logout" %}?next={{ request.path }}') Log out

      else
        li(class='nav-item')
          a(class='nav-link' href='{% url "login" %}?next={{ request.path }}') Log in
        if settings.REGISTRATION_OPEN
          li(class='nav-item')
            a(class='nav-link' href='{% url "registration_register" %}') Register
