extends ninetofiver/authentication/page.pug
- load crispy_forms_tags

block title
  | Login

block content
  form(
    action='{% url "login" %}'
    method='POST'
    role='form'
  )
    {% csrf_token %}
    input(
      type='hidden'
      name='next'
      value='{{ next }}'
    )
    {{ form | crispy }}
    
    div(class='d-flex justify-content-between')
      button(
        type='submit'
        class='btn btn-outline-primary'
      ) Log in

      a(
        class='btn btn-outline-secondary'
        href='{% url "password_reset" %}'
      ) Forgot your password?
