extends ninetofiver/authentication/page.pug
- load crispy_forms_tags

block title
  | {{ title }}

block content
  form(
    action='{% url "password_reset" %}'
    method='POST'
    role='form'
  )
    {% csrf_token %}
    {{ form | crispy }}
    
    div(class='d-flex justify-content-between')
        button(
          type='submit'
          class='btn btn-outline-primary'
        ) Reset
        a(
          href='{% url "login" %}'
          onclick='window.history.back(); return false'
          class='btn btn-outline-secondary'
        ) Back
