extends ninetofiver/authentication/page.pug
- load crispy_forms_tags

block title
  | {{ title }}

block content
  if validlink
    form(
      action='{{ request.path }}'
      method='POST'
      role='form'
    )
      {% csrf_token %}
      {{ form | crispy }}
      button(
        type='submit'
        class='btn btn-outline-primary'
      ) Reset
