- load format_duration

div(class='row')
    div(class='col-4')
        div
            table(class='table table-sm table-striped my-0')
                thead
                    tr
                        th Country
                        th Performed
                        th Performed ratio
                tbody
                    for country_data in record.countries
                        tr
                            td {{ country_data.country }}
                            td(class='text-nowrap') {{ country_data.performed_hours | format_duration }}
                            td
                                - include 'ninetofiver/admin/reports/progress_bar.html' with value=country_data.performed_pct

                    tr
                        th Total
                        td(class='text-nowrap') {{ record.performed_hours | format_duration }}
                        td
    
    div(class='col-8')
        div
            table(class='table table-sm table-striped my-0')
                thead
                    tr
                        th Role
                        th Estimated
                        th Performed
                        th Performed ratio
                        th Performed vs. estimated ratio
                tbody
                    for contract_role_data in record.contract_roles
                        tr
                            td {{ contract_role_data.contract_role }}
                            td(class='text-nowrap') {{ contract_role_data.estimated_hours | format_duration }}
                            td(class='text-nowrap') {{ contract_role_data.performed_hours | format_duration }}
                            td
                                - include 'ninetofiver/admin/reports/progress_bar.html' with value=contract_role_data.performed_pct
                            td
                                - include 'ninetofiver/admin/reports/progress_bar.html' with value=contract_role_data.estimated_pct

                    tr
                        th Total
                        td(class='text-nowrap') {{ record.estimated_hours | format_duration }}
                        td(class='text-nowrap') {{ record.performed_hours | format_duration }}
                        td
                        td
                            - include 'ninetofiver/admin/reports/progress_bar.html' with value=record.estimated_pct

    div(class='w-100 mt-3')

    div(class='col-4')
        table(class='table table-sm table-striped my-0')
            thead
                tr
                    th Fixed fee
                    th Invoiced amount
                    th Invoiced ratio
            tbody
                tr
                    td {{ record.contract.fixed_fee }}
                    td {{ record.invoiced_amount }}
                    td
                        - include 'ninetofiver/admin/reports/progress_bar.html' with value=record.invoiced_pct

    div(class='col-8')
        table(class='table table-sm table-striped my-0')
            thead
                tr
                    th User
                    th Performed
                    th Performed ratio
            tbody
                for user_data in record.users
                    tr
                        td {{ user_data.user }}
                        td(class='text-nowrap') {{ user_data.performed_hours | format_duration }}
                        td
                            - include 'ninetofiver/admin/reports/progress_bar.html' with value=user_data.performed_pct

                tr
                    th Total
                    td(class='text-nowrap') {{ record.performed_hours | format_duration }}
                    td